<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marvel Quiz | Respuestas</title>
    <link rel="shortcut icon" href="../assets/img/fc.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="respuestas-container">

    <header class="header">
        <div class="logo">
            <img src="../assets/img/logo1.jpg" alt="logo" class="logoImg">
        </div>

        <div class="navList">
            <ul>
                <a href="./index.html"><li class="navList-item">INICIO</li></a>
                <a href="./quiz.html"><li class="navList-item">QUIZ</li></a>
                <a href="./respuestas.html"><li class="navList-item">RESPUESTAS</li></a>
            </ul>
        </div>

        <div class="redes-sociales">
            <a href="https://www.instagram.com/marvel/?hl=es" target="_blank"><img src="https://icongr.am/entypo/instagram.svg?size=38&color=ffffff" alt="instagram" class="redes-sociales-item"></a>
            <a href="https://twitter.com/marvelstudios" target="_blank"><img src="https://icongr.am/entypo/twitter.svg?size=38&color=ffffff" alt="twitter" class="redes-sociales-item"></a>
            <a href="https://www.youtube.com/channel/UC8LEXZO4hjzVk6wO3G9pJyQ" target="_blank"><img src="https://icongr.am/entypo/youtube.svg?size=38&color=ffffff" alt="youtube" class="redes-sociales-item"></a>
        </div>
    </header>

    <form id="form-quiz">
    </form>


    <footer class="footer" id="footer">
        <p>©  Todos los derechos reservados a Marvel Studios</p>
    </footer>

    <script src="../js/respuestas.js"></script>

</body>
</html>